
.dropdown-item:hover {
  background-color: var(--bs-dropdown-link-hover-bg, #e9ecef); 
  color: var(--bs-dropdown-link-hover-color, #212529); 
}

.dropdown-item:hover {
  color: #212529 !important; 
}